*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  color: #050505;
  font-size: 16px;
}

.sectionContainer {
  margin: 5vh 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .sectionTitleContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 15vh;
  -ms-flex-direction: column;
      flex-direction: column;
}

.container .sectionTitleContainer h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 2rem;
}

.container .sectionTitleContainer p {
  font-style: italic;
  font-weight: 400;
  color: gray;
}

.container .sectionContentContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-items: center;
  -ms-flex-align: center;
      align-items: center;
}

.headerContainer {
  height: 100vh;
  position: relative;
  background-image: url("../images/adventure-camp-camper-2398220.jpg");
  background-position: center center;
  background-size: cover;
}

.headerContainer .navbarContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
}

.headerContainer .navbarContent .goldenContainer {
  height: 100%;
  color: yellow;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
}

.headerContainer .navbarContent .extraClassContainer {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.headerContainer .navbarContent nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 50%;
}

.headerContainer .navbarContent nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: center;
      align-items: center;
}

.headerContainer .navbarContent nav ul li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.headerContainer .navbarContent nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.headerContainer .navbarContent nav ul li a:hover {
  color: yellow;
}

.headerContainer .headerContent {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.headerContainer .headerContent .headerWelcome {
  font-size: 3rem;
}

.headerContainer .headerContent .headerText {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.headerContainer .headerContent .headerButton {
  background-color: #b3b323;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  padding: 15px 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.serviceItemContainer {
  padding: 0 30px;
}

.serviceItemContainer h3 {
  font-weight: 700;
}

.serviceItemContainer p {
  font-weight: 400;
  color: gray;
}

.serviceItemContainer i {
  font-size: 60px;
  border: 3px solid yellow;
  width: 120px;
  height: 120px;
  line-height: 120px;
  color: yellow;
  border-radius: 50%;
}

.backgroundGray {
  background-color: #e6e4e4;
}

.imagesContainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imagesContainer .portfolioItemContainer {
  padding: 20px 40px;
}

.imagesContainer .portfolioItemContainer .imageItemContainer {
  width: 200px;
  height: 300px;
}

.imagesContainer .portfolioItemContainer .imageItemContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagesContainer .portfolioItemContainer .contentItemContainer {
  padding: 10px;
  background-color: #fff;
}

.imagesContainer .portfolioItemContainer .contentItemContainer h3 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

.imagesContainer .portfolioItemContainer .contentItemContainer p {
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  color: gray;
}

.footerContainer {
  height: 10vh;
  position: relative;
}

.footerContainer p {
  position: absolute;
  bottom: 40%;
  left: 25%;
  margin: 0;
  padding: 0;
}

.footerContainer .iconsContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerContainer i {
  font-size: 15px;
  background: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 50%;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */