*, *::before, *::after { box-sizing: border-box; }

body { margin: 0; text-align: center; color: #050505; font-size: 16px; line-height: 1.5; }

section { padding: 100px 0; }

.container { max-width: 1140px; margin: 0 auto; padding: 0 20px; }

.container .sectionTitleContainer { position: relative; text-transform: uppercase; font-weight: 800; margin: 0; font-size: 36px; }

.container .sectionSubtitleContainer { margin: 0 0 40px 0; font-style: italic; font-weight: 400; color: gray; }

.container .sectionContentContainer { display: -ms-flexbox; display: flex; -ms-grid-column-align: center; justify-items: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 800px) { .sectionContentContainer { -ms-flex-direction: column; flex-direction: column; } }

/* Header */
.header { background-color: transparent; position: absolute; top: 0; left: 0; width: 100%; z-index: 3; height: 7vh; }

.header .golden { color: yellow; font-family: "Gill Sans", sans-serif; display: inline; font-size: 2rem; line-height: 2; left: 40vw; }

.header .menu { margin: 0; padding: 0; list-style: none; overflow: hidden; background-color: #fff; clear: both; max-height: 0; transition: max-height 0.2s ease-out; color: #fff; }

.header li { display: block; padding: 20px 20px; text-decoration: none; text-transform: uppercase; }

.header .menu-icon { cursor: pointer; float: right; padding: 28px 20px; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.header .menu-icon .navicon { background: #333; display: block; height: 2px; position: relative; transition: background 0.2s ease-out; width: 18px; }

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after { background: #333; content: ""; display: block; height: 100%; position: absolute; transition: all 0.2s ease-out; width: 100%; }

.header .menu-icon .navicon:before { top: 5px; }

.header .menu-icon .navicon:after { top: -5px; }

.header .menu-btn { display: none; }

.header .menu-btn:checked ~ .menu { max-height: 400px; background-color: #858c8f; }

.header .menu-btn:checked ~ .menu-icon .navicon { background: transparent; }

.header .menu-btn:checked ~ .menu-icon .navicon:before { transform: rotate(-45deg); }

.header .menu-btn:checked ~ .menu-icon .navicon:after { transform: rotate(45deg); }

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after { top: 0; }

@media (min-width: 1000px) { .header .golden { position: relative; right: 10vw; left: -10vw; }
  .header .menu { clear: none; float: right; max-height: none; background-color: transparent; position: relative; right: 10vw; }
  .header .menu li { float: left; padding: 20px 30px; }
  .header .menu-icon { display: none; } }

.imageContainer { height: 100vh; position: relative; background-image: url("../images/adventure-camp-camper-2398220.jpg"); background-position: center center; background-size: cover; }

.imageContainer .textContainer { position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.imageContainer .textContainer .headerWelcome { color: #fff; font-size: 60px; margin: 0; position: relative; font-style: italic; font-weight: 300; }

.imageContainer .textContainer .headerText { margin: 15px 0; font-size: 90px; color: #fff; text-transform: uppercase; font-weight: 800; }

.imageContainer .textContainer .headerButton { background-color: #abab1b; border: none; border-radius: 2px; font-size: 1.5rem; color: #fff; padding: 15px 25px; text-transform: uppercase; cursor: pointer; }

@media (max-width: 800px) { .imageContainer .textContainer .headerWelcome { font-size: 2rem; }
  .imageContainer .textContainer .headerText { margin: 5px 0; font-size: 3rem; }
  .imageContainer .textContainer .headerButton { font-size: 1rem; color: #fff; padding: 5px 8px; } }

.serviceItemContainer { padding: 0 30px 10px 30px; }

.serviceItemContainer h3 { font-weight: 700; }

.serviceItemContainer p { font-weight: 400; color: gray; }

.serviceItemContainer i { font-size: 60px; border: 3px solid yellow; width: 120px; height: 120px; line-height: 120px; color: yellow; border-radius: 50%; }

.backgroundGray { background-color: #e6e4e4; }

.imagesContainer { -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.imagesContainer .portfolioItemContainer { padding: 20px 40px; }

.imagesContainer .portfolioItemContainer .imageItemContainer { width: 200px; height: 300px; }

.imagesContainer .portfolioItemContainer .imageItemContainer img { height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover; }

.imagesContainer .portfolioItemContainer .contentItemContainer { padding: 10px; background-color: #fff; }

.imagesContainer .portfolioItemContainer .contentItemContainer h3 { font-weight: 700; margin: 0; margin-bottom: 5px; }

.imagesContainer .portfolioItemContainer .contentItemContainer p { font-weight: 400; margin: 0; margin-bottom: 10px; color: gray; }

.footerContainer { height: 10vh; position: relative; }

.footerContainer .textContainer { position: absolute; width: 100%; top: 50%; left: 25%; transform: translate(-50%, -50%); }

.footerContainer .iconsContainer { position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.footerContainer i { font-size: 15px; background: black; width: 30px; height: 30px; line-height: 30px; color: #fff; border-radius: 50%; margin-right: 5px; }

@media (max-width: 900px) { .footerContainer .textContainer { top: 100%; left: 50%; } }
